<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="
    sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</head>

<h1>Encuestas</h1>
{% if encuestas %}
{% for encuesta in encuestas %}
<div>
    <a href="{% url 'pregunta' encuesta.id %}">
        <button>
            <div>
                <h2>{{ encuesta.nombre }}</h2>
                <p>Descripción: {{ encuesta.descripcion }}</p>
                <p>Fecha de Creación: {{ encuesta.fecha_creacion }}</p>
            </div>
        </button>
        
        <a href="../agregar_pregunta/" class="btn p-2 btn-primary w-45 ">MODIFICAR</a></div>
        <br></br>
    </a>
</div>
{% endfor %}
{% else %}
    <p>no hay encuestas habilitadas</p>
{% endif %}
<a href="../crear_encuesta/" class="btn p-2 btn-primary w-45 ">CREAR ENCUESTA</a></div>
<a href="../inicio/" class="btn p-2 btn-success w-40">Volver</a>
